<% content_for :title do %>Edit Profile <%= @user.name %>
<% end %>
<div class="container px-4 p-5 text-center">
  <div class="section-header">
    <h2>Profile</h2>
    <% if @user == current_user %>
      <p><%= link_to 'Edit profile', edit_user_path(@user) %></p>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-auto">
      <h3>Editing profile</h3>
      <%= render 'form' %></br>
      <p><%= link_to 'Change password / Delete account', edit_user_registration_path %></p>
    </div>
    <div class="col">
      <%= render partial: 'preferences/form' %>
    </div>
  </div>
</div>


