<% content_for :title do %>Profile <%= @user.name %>
<% end %>
<main id="main" class="main-page">
  <!-- ======= Speaker Details Sectionn ======= -->
  <section id="speakers-details">
    <div class="container">
      <div class="section-header">
        <h2>Profile</h2>
        <p>Let's take a look what we have here
          <% if @user == current_user %>
            <%= link_to '', edit_user_path(@user), class: 'bi bi-pen' %></p>
          <% end %>
          </div>
      <div class="row">
        <div class="col-md-6">
          <%= image_tag user_avatar(@user), class: 'img-fluid', alt: "#{@user.name} photo" %>
        </div>

        <div class="col-md-6">
          <div class="details">
            <h2><%= @user.name %></h2>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
            <p><% if @user.events.any? %>
              <h3>Organized:</h3>
              <div class="row">
                <%= render partial: 'events/event', collection: @user.events %>
              </div>
            <% else %>
              <p class="buffer-top">User has not yet created an event.</p>
            <% end %>
            </p>
          </div>
        </div>

      </div>
    </div>

  </section>

</main><!-- End #main -->


