<% content_for :title do %>Event -  <%= @event.title %>
<% end %>
<section id="speakers-details">
  <div class="container">
    <div class="section-header text-center">
      <h2><%= @event.title %></h2>
      <% if current_user_can_edit?(@event) %>
          <%= link_to 'Edit event', edit_event_path(@event) %>
        <div class="d-grid gap-2 col-2 mx-auto">
          <%= button_to 'Delete', @event, method: :delete,
                        form: { data: { turbo_confirm: "are you sure?" } }, class: "btn btn-outline-danger" %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag 'speakers/1.jpg', class: 'img-fluid', alt: "#{@event.title} photo" %>
      </div>
      <div class="col-md-6">
        <div class="details">
          <h2>When: <h3><%= l @event.datetime, format: :long %></h3></h2>
          <h2>Decription: <h3><%= @event.description %></h3></h2>
          <h2>Address: <small><%= link_to @event.address,
                                          "https://yandex.ru/maps/?text=#{@event.address}" %></small></h2>
          <%= link_to 'Back to Profile', current_user, class: "form-button text-center" %>
        </div>
      </div>
    </div>
  </div>
</section>
