<!-- ======= Common Header ======= -->
<header id="header" class="d-flex align-items-center header-inner">
  <div class="container-fluid container-xxl d-flex align-items-center">

    <div id="logo" class="me-auto">
      <%#= link_to image_tag('logo.png'), root_path, class:'scrollto' %>
       <h1 style="font-size: 18px"><a href="<%= root_path %>/">The<span>Event</span></a></h1>
    </div>

<!--    <nav id="navbar" class="navbar order-last order-lg-0">-->
<!--      <ul>-->
<!--        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>-->
<!--        <li><a class="nav-link scrollto" href="#about">About</a></li>-->
<!--        <li><a class="nav-link scrollto" href="#schedule">Schedule</a></li>-->
<!--        <li><a class="nav-link scrollto" href="#speakers">Friends</a></li>-->
<!--        <li><a class="nav-link scrollto" href="#venue">Venue</a></li>-->
<!--        <li><a class="nav-link scrollto" href="#subscribe">Contact</a></li>-->
<!--      </ul>-->
<!--      <i class="bi bi-list mobile-nav-toggle"></i>-->
<!--    </nav>-->

    <% if user_signed_in? %>
      <%= link_to 'Profile', current_user, class: 'buy-tickets scrollto' %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'buy-tickets scrollto' %>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class: 'buy-tickets scrollto' %>
      <%= link_to 'Sign up', new_user_registration_path, class: 'buy-tickets scrollto' %>
    <% end %>
    </div>
</header><!-- End Header -->
<%= render partial: 'partials/form_errors' %>
